/* Start Global Variables */
:root {
  --main-color: #10cab7;
  --section-padding: 60px;
  --secondary-color: #f6f6f6;
}
/* End Global Variables */ /*Start global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
.parent {
  background-color: #eee;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small Screens */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium Screens */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large Screens */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End of Global Rules */
/* special heading */

.special-heading {
  margin: 0;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  color: rgb(226, 226, 226);
  letter-spacing: -5px;
}
.special-heading + p {
  text-align: center;
  color: rgb(120 120 120);
  font-size: 20px;
  margin-top: -28px;
  margin-bottom: 100px;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    font-size: 14px;
    margin-top: -20px;
    margin-bottom: 40px;
  }
}
/* end special heading */

/* Header Styleing */
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  height: 40px;
}
.header .links:hover ul {
  transition: 0.2s;
  display: block;
}
.header .links {
  position: relative;
}

.header .links ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  right: 0;
  min-width: 200px;
  background-color: #f6f6f6;
  top: calc(100% + 10px);
  display: none;
  z-index: 1;
}
.header .links ul::before {
  content: "";
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent black transparent;
  top: -20px;
  right: 0px;
}
.header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  transition-duration: 0.3s;
  color: black;
}
.header .links ul li a:hover {
  padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
  border-bottom: 1px solid #ddd;
}
/* End of header Styling */

/* Landing styling */
.landing {
  background-image: url(../images/landing.jpg);
  background-size: cover;
  background-position-x: 50%;
  height: calc(100vh - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.landing h1 {
  font-weight: bold;
  font-size: 50px;
  color: var(--main-color);
}
.landing .intro-text {
  width: 320px;
  max-width: 100%;
}

/* End of landing styling */

/* start feat section */
.feature {
  padding: var(--section-padding) 0;
  background-color: var(--secondary-color);
}
.feature .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.feature .container .feat {
  text-align: center;
  padding: 20px;
  min-width: 250px;
  width: 320px;
}
.feature .container .feat i {
  color: var(--main-color);
  font-size: 40 px;
}
.feature .container .feat h3 {
  font-weight: 800;
}
.feature .container .feat p {
  font-size: 16px;
  line-height: 1.6em;
  color: #505050;
  height: 80px;
  overflow: hidden;
}
/* end feat section */

/*

start services section 

*/
.services {
  padding: var(--section-padding) 0;
  background-color: white;
}
.services .container .services-content {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.services .services-content .srv {
  display: flex;
  padding-bottom: 60px;
}
.services .services-content .srv i {
  flex-basis: 60px;
  color: #10cab7;
}
.services .services-content .text {
  flex: 1;
}
.services .services-content .text h3 {
  margin: 0;
  font-weight: 800;
}
.services .services-content .text p {
  font-size: 16px;
  height: 150px;
  line-height: 1.6em;
  color: #505050;
}
.services .container .services-content .image {
  text-align: center;
  position: relative;
}
.services .container .services-content .image::before {
  content: "";
  background-color: #2c4755;
  position: absolute;
  top: -30px;
  right: -40px;
  width: 100px;
  height: calc(100% + 60px);
}
.services .container .services-content .image img {
  width: 320px;
  position: relative;
  z-index: 1;
  border-radius: 16px 0 0 16px;
}
@media (max-width: 990px) {
  .image-hide {
    display: none;
  }
}

@media (max-width: 767px) {
  .services .services-content .srv {
    flex-direction: column;
    text-align: center;
  }
  .services .services-content .text p {
    font-size: 16px;
    height: 80px;
    line-height: 1.6em;
    color: #505050;
  }
}
/* 

end services section

*/

/*

start of portfolio section 

*/

.portfolio {
  padding: var(--section-padding) 0;
  background-color: var(--secondary-color);
}
.portfolio .portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}

.portfolio .portfolio-content .card {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  overflow: hidden;
}
.portfolio .card .card-text {
  background-color: white;
  padding: 20px;
}
.portfolio .card .card-text h3 {
  margin: 0;
  font-weight: 800;
}

.portfolio .card .card-text p {
  font-size: 16px;
  line-height: 1.6em;
  color: #505050;
}

/* 

end of portfolio section 

/* 

/*

start about section

*/
.about {
  padding: var(--section-padding) 0;
  background-color: white;
}
.about .about-content {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  justify-content: space-between;
}
.about .about-content .about-img {
  width: 250px;
}
.about .about-content .about-img-cont {
  z-index: 1;
  position: relative;
}
.about .about-content .about-img-cont::before {
  top: -40px;
  content: "";
  position: absolute;
  width: 120px;
  height: 300px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  z-index: -1;
  right: -150px;
}
.about .about-content .about-img-cont::after {
  content: "";
  background-color: #ebeced;
  position: absolute;
  top: -30px;
  right: 175px;
  width: 100px;
  height: calc(100% + 60px);
  z-index: -1;
}
@media (max-width: 990px) {
  .about .about-content .about-img-cont::after,
  .about .about-content .about-img-cont::before {
    display: none;
  }
  .about .about-content {
    flex-direction: column;
  }
  .about .about-content p {
    padding: 0 12px;
  }
}
.about .about-content .about-text {
  flex-basis: calc(100% - 500px);
}

.about .about-content .about-text p {
  min-width: 200px;
  max-width: 600px;
}

.about .about-content .about-text p:first-of-type {
  text-align: justify;
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}

.about .about-content .about-text p:last-of-type {
  line-height: 2;
  color: #777;
  text-align: justify;
}

.about .about-content .about-text hr {
  width: 50%;
  display: inline-block;
  border-color: var(--main-color);
}

/* 

end about section

*/

/*

start of contact section 

*/

.contact {
  padding: var(--section-padding) 0;
  background-color: var(--secondary-color);
}
.contact .info {
  padding-bottom: var(--section-padding);
  text-align: center;
}

.contact .info .label {
  font-size: 35px;
  font-weight: 800;
  color: #2c4755;
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .info .link {
  display: block;
  font-size: 35px;
  font-weight: 800;
  color: var(--main-color);
  text-decoration: none;
}

.contact .info .social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 16px;
}

.contact .info .social i {
  margin-left: 10px;
  color: #2c4755;
}
/*

end of contact section 

*/
.foot {
  background-color: #2c4755;
  color: white;
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
}
.foot span {
  font-weight: bold;
  color: var(--main-color);
}
